<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>LocationName</key>
        <string>은평구</string>
        <key>x1</key>
        <string>test</string>
    </dict>
</array>
</plist>
