<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LocationName</key>
		<string>은평구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>360</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>280</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>마포구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>430</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>680</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>730</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>종로구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>380</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>580</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>610</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>340</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>서대문구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>770</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>820</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>660</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>강북구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>140</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>440</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>420</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>중구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>490</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>690</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>710</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>460</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>용산구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>730</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>530</integer>
				<key>y</key>
				<integer>850</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>900</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>750</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>도봉구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>370</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>330</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>110</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>성북구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>420</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>550</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>470</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>370</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>동대문구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>590</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>710</integer>
				<key>y</key>
				<integer>720</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>650</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>510</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>성동구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>760</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>890</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>790</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>680</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>노원구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>410</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1150</integer>
				<key>y</key>
				<integer>390</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1110</integer>
				<key>y</key>
				<integer>140</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>중랑구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>440</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>550</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1170</integer>
				<key>y</key>
				<integer>520</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1150</integer>
				<key>y</key>
				<integer>420</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>광진구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>590</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1000</integer>
				<key>y</key>
				<integer>770</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1180</integer>
				<key>y</key>
				<integer>700</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1170</integer>
				<key>y</key>
				<integer>560</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>강서구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>910</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>1050</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>1120</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>980</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>양천구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>1080</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>1190</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>1290</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>1150</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>구로구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>1230</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>1350</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>1480</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>1330</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>영등포구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>1190</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>1250</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>1090</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>금천구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>1230</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>1520</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>1560</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>1300</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>동작구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>1110</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>1320</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>1340</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>1190</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>관악구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>1340</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>1540</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>1540</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>1370</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>서초구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>1160</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>1550</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>1500</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>1110</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>강남구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>1070</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>1490</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1000</integer>
				<key>y</key>
				<integer>1440</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>990</integer>
				<key>y</key>
				<integer>1000</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>강동구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>1020</integer>
				<key>y</key>
				<integer>980</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1040</integer>
				<key>y</key>
				<integer>1150</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>1110</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>900</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LocationName</key>
		<string>송파구</string>
		<key>Coordinates</key>
		<array>
			<dict>
				<key>x</key>
				<integer>1040</integer>
				<key>y</key>
				<integer>1190</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>1420</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>1380</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>1150</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
